name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "0 0 * * *"   
  push:
    branches: 
      - master
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: Theoshen/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: c42ca7d3da928bd3ce78d750a60b28ed
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
